.registerForm
{	
    border-radius: 12px;	
    margin: auto;
    height: 644px;	
    width: 533px;	
    border-radius: 12px;
    background-color: #01B9BD;
}

.step-one
{	
    margin-bottom: -15%;
    height: 67px;
    width: 424px;	
    color: #FFFFFF;	
    font-family: "Avenir Next";	
    font-size: 30px;	
    font-weight: 500;	
    line-height: 41px;	
}

.the-basics
{	
    margin-right:-30px;
    height: 67px;	
    width: 424px;	
    color: #FFFFFF;	
    font-family: "Avenir Next";	
    font-size: 46px;	
    font-weight: 510;	
    letter-spacing: 2px;	
    line-height: 49px;
    margin-bottom: -5%;
}

.form-field-white 
{	
    height: 38px;	
    width: 390px;
}

.rectangle-button 
{	
    margin-top: 35px !important;
    height: 57px !important;	
    width: 197px !important;	
    border-radius: 5px !important;	
    border-width:0px !important;
    background-color: #0DABAF !important;	
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25) !important;
    margin-left:10%;
}

.centerForm
{
    margin-left:23%;
}

.email-copy
{	
    height: 30px;	
    width: 201px;	
    color: #F3F3F3;	
    font-family: "Avenir Next";	
    font-size: 20px;	
    line-height: 27px;    
}

.centerWithin
{
    margin-left:13%;
}

.textColor   
{
    color: #F3F3F3;
}