.registerForms {
    height: 644px;	
    width: 533px;	
    border-radius: 12px;	
    background-color: #01B9BD;
    margin: auto;
    margin-top: 172px;
    margin-bottom: 208px;
}

.stepTwo {	
    height: 40px;	
    width: 100%;	
    color: #FFFFFF;	
    font-size: 30px;	
    font-weight: 50;	
    line-height: 41px;	
    text-align: center;
    margin-bottom: 0px;
}

.profilePicture {	
    height: 67px;	
    width: 100%;	
    color: #FFFFFF;		
    font-size: 36px;	
    margin-top: 0px;
    margin-bottom: 24px;
    letter-spacing: 2px;	
    line-height: 49px;	
    text-align: center;
}

.profileCircle {
    width: 269px;
    height: 269px;
    border-radius: 200px;
    background-color: #FFFFFF;
    margin: auto;
    align-items: center;
    display: flex;
}

.btnProfilePic {
    height: 72px;
    width: 72px;
    border-radius: 200px;
    border-width: 0px;
    background-color: #D8D8D8;
    font-size: 56px;
    color: #979797;
    text-align: center;
    margin-top: 99px;
    margin-left: 99px;
    cursor: pointer;
}

.skipForNowContainer {
    width: 100%;
    margin-top: 63px;
}

.btnNextStep {
    height: 57px;	
    width: 197px;	
    border-radius: 5px;	
    border-width: 0px;
    background-color: #0DABAF;
    color: white;
    font-size: 22px;	
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
    margin-left: 31%;
    cursor: pointer;
}

.skipForNow {
   font-size: 20px;
   color: #FFFFFF;
   text-align: center;
   margin-top: 10px;
   cursor: pointer;
   font-weight: 10;
}

.previewComponent{
    width: 100px;
    height: 100px;
}

.fileInput{
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}
  
.imgPreview{
    text-align: center;
    margin-left: 6%;
    border-width: 0px;
    margin-top: -10px;
}

img#profileImg{
    border-radius: 100%;
    margin-top: 15px;
}

label.plus {
    display: inline-block;
    font-size: 50px; 
    font-weight: 100;
    
    position: absolute;
    margin-top: 98px;
    margin-left: 6.5%;
    text-align: center;
    width: 73px;
    height: 73px;   
    background-color: #D8D8D8; 
    color: #979797;
    cursor: pointer;
    border-radius: 100%;
    margin: auto;
}

.ThePlusSign{
    color: #979797;
    font-size: 50px; 
    font-weight: 100;
    margin-top: 8px;
    text-align: center;
}

#alignMiddle{
    width: 56px;
    height: 73px;
    margin-left: auto;
    margin-right: auto;
}

[type=file].btnProfilePic{
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}

[type=file].btnProfilePic{
    text-align: center;
    left: 7.35em;
    top: 0.5em;
    /* Decorative */
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

[type=file].btnProfilePic + label:hover.plus {
    background: #3399ff;
}