
body {
  background-color: #004853;
  font-family: "Helvetica";
}

 .header{
  height: 103px;	
  width: 1440px;	
  background-color: #01B9BD;
 }

 .sidebar {
	height: 939px;
	width: 411px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 12px 3px rgba(0,0,0,0.14);
}

 .chat{
  background-color: #FFFFFF;
 }