.rectangle-8 {
	height: 139px;
	width: 411px;
	background-color: #F5F5F5;
}

.rectangle-5 {
	height: 43px !important;
	width: 345px !important;
	border-radius: 21.5px !important;
	border-color: rgb(15, 15, 15) !important;
}

.rectangle-7 {
	height: 43px;
	width: 345px;
	border: 1px solid #979797;
	border-radius: 21.5px;
}

.list-item {
	box-sizing: border-box;
	height: 3px;
	width: 413px;
	padding: 12%;
}

.list-items {
	box-sizing: border-box;
	padding: 30%;
}

.searchbar{
	margin:40%  !important;
	border-radius: 75px  !important;
}

.about {
    line-height: 1.5em;
    height: 3em;      
    overflow: hidden; 
}

html { font-family: 'Roboto', sans-serif; }

.status {
	height: 43px;
	width: 348px;
	color: #706F6F;
	font-family: "Roboto";
	font-size: 17px;
	line-height: 22px;
	overflow: hidden; 
}

.rounded {
	border-radius:75px !important;
	height: 45px !important;
	background-color: #979797;
}

.name {
	color: rgb(121, 121, 121);
	font-family: "Roboto";
	font-size: 18px;
	margin-top: 5%;
}